:root {
  --breakpoint-mobile: 600px;
  --breakpoint-tablet: 1024px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff !important;
}

main,
footer {
  width: 100%;
  position: relative;
}

.section-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Typography */
.heading-1 {
  font-size: 76px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important;
  letter-spacing: -3.68px !important;
}

.heading-2 {
  font-size: 72px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important;
  letter-spacing: -2.88px !important;
}

.heading-3 {
  font-size: 56px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important; /* 56px */
  letter-spacing: -2.24px !important;
}

.heading-4 {
  font-size: 56px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 120% !important; /* 67.2px */
  letter-spacing: -2.24px !important;
}

.blog-heading {
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important; /* 40px */
  letter-spacing: -1.6px !important;
}

.body-text-1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.body-text-2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

.body-text-3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
}

.blog-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.blog-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.multi-column-text {
  column-count: 2;
  column-gap: "60px";
}

.services-text-header {
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important;
}

.services-container {
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  height: 542px !important;
  padding: 48px 55px !important;
}

@media (max-width: 600px) {
  .section-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
  }
  .heading-1 {
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 90% !important;
    letter-spacing: -0.64px !important;
  }

  .heading-2 {
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 100% !important; /* 32px */
    letter-spacing: -1.28px !important;
  }

  .heading-3 {
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 100% !important; /* 56px */
    letter-spacing: normal !important;
  }

  .heading-4 {
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important; /* 67.2px */
    letter-spacing: -0.64px !important;
  }

  .blog-heading {
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important; /* 40px */
    letter-spacing: -1.5px !important;
  }

  .body-text-1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 26px */
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  .body-text-2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
  }

  .body-text-3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
  }

  .multi-column-text {
    column-count: 1;
    column-gap: "60px";
  }

  .services-text-header {
    font-size: 24px !important;
  }

  .services-container {
    height: auto !important;
    min-height: 312px !important;
    width: 100% !important;
    padding: 24px 30px !important;
  }
}

/* @media (min-width: var(--breakpoint-mobile)) and (max-width: var(--breakpoint-tablet)) {
  .section-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
  }
} */
