* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main,
footer {
  width: 100%;
  position: relative;
}

.section-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
